<!-- <div class="logout-wrapper">
    <div class="container">
        <div class="p-10">
            <div class="logo">
                <img src="/assets/images/logo.png" class="img-responsive" />
            </div>
            <div class="status m-t-20">
                {{'logoutSuccessful' | translate}}
            </div>
            <div class="align-center m-t-40">
                {{'logoutDescription' | translate}}
            </div>
            <div class="align-center m-t-40">
                {{'logoutFootermessage' | translate}}
                <a href="#">link</a>.
            </div>
        </div>
    </div>
</div> -->

