@import "../../assets/sass/variable.scss";

// .login-wrapper {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;

//   //height: calc(100vh - 78px);
// }
.login-container {
  width: calc(66vw);
  height: 31.25rem;
  //width:566px;
 // position: absolute;
  top:3%;
  left: 30%;
  transform: translate(-4%, 0%);
}

.login-form {
 // position: relative;
  height: 21.25rem;//100%;
  top: 0.75rem;
  left: 0;
  bottom: 0;
  right: 0;
}

.sm-login-container {
  /* width: 370px;    */
  /* top: calc(50vh - 180px);
    left: calc(50vw - 650px); */
  background: #fff;
  width: 30%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 80%;
  padding: 0.625rem;
  overflow: auto;
}
.login-border {
  border: 1px solid lightgray;
  height: auto;
  padding: 3.75rem 0rem;
}

.login-column {
  height: 60px;
}

.mat-input-wrapper {
  margin: 10px 0 !important;
  padding-bottom: 0px !important;
}

.logo {
  width: 240px;
  padding: 18px 33px 20px;
}
.mat-input-container {
  width: 100%;
}
.ng-untouched {
  color: #ddd;
}

.ng-touched {
  color: #515151;
}

.mat-focused.mat-input-container {
  width: 100%;
  color: #515151;
}

.sm-form-group {
  padding: 10px 25px 15px 25px;
  margin-bottom: 0px;
}

h2.sm-head {
  padding: 10px 25px;
  background-color: #fff;
  color: #029999;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}

.btn {
  padding: 3px 25px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
  box-shadow: none;
  border: 1px solid #fff;
  cursor: pointer;
}

.btn-primary {
  background-color: #09a593;
  color: #fff;
  width: 100%;
}
.login-footer {
  padding-top: 30px;
}

.error {
  height: 70px;
}

@media only screen and (max-width: 768px) {
  .sm-login-container {
    background: #fff;
    width: 85%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 49%;
    padding: 20px;
    overflow: auto;
  }
}

.sm-form-group  >  div {
  position: relative;
}
