<div class="hero">
    <div class="hero-left">
        <div class="hero-title"> Disappointed by a product or service?</div>
        <p>It is important that you attempt to resolve your complaint with the company before filing with the Division of Consumer Protection (DCP). Complaints already the subject of a lawsuit or other legal action cannot be handled by the DCP.</p>
        <div class="btn-group">
            <button class="btn1"> <span>File a Complaint</span>  <img src="./../../../assets/images/Union 50.svg"></button>
            <div style="color: white;">or</div>
            <button class="btn2"><span>Try Alternate options</span> <img src="./../../../assets/images/Union 50.svg"></button>
        </div>
    </div>
    <div class="hero-right">
        <img src="../../../assets/images/HeroImg.png">
    </div>
</div>

<div class="Explore">

    <p>Explore More</p>
    <div class="vertical-line"></div>
</div>


