<div class="container-footer">
  <div class="pre-footer row">
    <div class="col-md-9">
      <div class="d-flex flex-row"> 
        <div class="d-flex align-items-center prefooter-heading ">Department of State</div>
       
        <div class=" d-flex flex-row  align-items-center ">
          <span class="mx-2" ><div class="pre-line"></div></span>
          <span class="mx-2">Accessibility</span>
          <span class="mx-2">Contact</span>
          <span class="mx-2">Disclaimer</span>
          <span class="mx-2">Privacy Policy</span>
        </div>
        
      
       </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="main-footer">
    <div class="row">
      <div class="col-md-2 d-flex align-items-center justify-content-start  "><img class="footer-img" src="../../../../assets/images/newyorkstate.png" alt="newyorkstate"></div>
      <div class="col-md-2"><div class="row"> <a class="mb-2" href="#">Agencies</a><a href="#">Services</a></div></div>
      <div class="col-md-2"><a href="#">App Directory</a></div>
      <div class="col-md-2"><a href="#">Counties</a></div>
      <div class="col-md-2"><a href="#">Events</a></div>
      <div class="col-md-2"><a href="#">Programs</a></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 fw-bold "> <i class='bx bx-globe'></i><a>Translation Service</a><span class="mx-4 fw-light ">This page is in other languages</span></div>
      <div class="col-md-6 fw-semibold "></div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="d-flex flex-row">
          <span class="lang">Spanish</span>
          <span class="lang">English</span>
          <span class="lang">Chinese</span>
          <span class="lang">Japanese</span>
          <span class="lang">Portuguese</span>
          <span class="lang">Hindi</span>
          <span class="lang">Italian</span>
          <span class="lang">Polish</span>
          <span class="lang">French</span>
          <span class="lang">Urdu</span>
        </div>
      </div>
    </div>
  </div>
</div>
