
    <div class="content">

        <div class="content-heading">
            Thinking of filing a complaint?
        </div>
        <div class="content-info">It is important that you attempt to resolve your complaint with the company before filling with the
            Division of Consumer Protection (DCP).Complaints already the subject of lawsuit or other legal action cannot be handled by the DCP.
        </div>
        <div class="card-container">
            
            <a (click)="this.toggleForm.emit(true)" class="card">
            <div class="card-img">
                <img src="../assets/images/Group53836.svg" alt="">
            </div>
                <div class="card-content">
                    <h3>File Online Complaint</h3>
                    
                  </div>
                </a>
            <div class="card">
                <div class="card-img">
                 <img src="../assets/images/Group53874.svg" alt="">
                </div>
                 <div class="card-content">
                    <h3>Printable Complaint Forms</h3>
                    
                  </div>
            </div>
        
        </div>
        <div class="d-flex justify-content-center "><div class="line"></div></div>
        <div class="content-heading2">Already Submitted A Complaint?</div>
        <div class="status">
            <div class="check">
                <div class="status-heading">Have a Complaint Number?</div>
                <div class="form"><input class="search" type="text" placeholder="Search With Complaint # "></div>
            </div>
            <div class="vl"></div>
            <div class="check">
                <div class="status-heading">Login To Track Status Of All Your Complaints</div>
                <div class="track"><button class="btn btn-lg"><div class="text d-flex flex-row justify-content-between align-items-center "><span>Track Status</span> <svg class="saveFront" xmlns="http://www.w3.org/2000/svg" width="32.847" height="11.66" viewBox="0 0 32.847 11.66">
                    <path id="Union_50" data-name="Union 50" d="M3733.806-6323.663l-.83-.811,3.835-3.766h-29.6v-1.8h29.664l-1.431-1.409c-.809-.8-1.573-1.549-2.232-2.2l-.24-.233,1.159-1.123.227.223c.685.672,1.723,1.695,2.73,2.685l2.731,2.687.239.234-5.93,5.832Z" transform="translate(-3707.214 6335)" fill="#ffffff"/>
                  </svg></div> </button></div>
            </div>
        </div>
    </div>
