<dcp-home-hero></dcp-home-hero>

<div class="options">
    <div id="option-header">
      <div>Thinking of filing a complaint?</div>
      <div id="id2">Try these options instead</div>
    </div>
   <div id="option-body">
    <div id="first-card">
        <app-options-card  [heading]="'Go Back to the Store or Website'"> 
            <p>Look for return policies </p>
            <p>Check deadlines</p>
            <p> Collect key documents</p>
            <p> Explain the problem</p>
            <img class="arrow-img" src="../../../assets/images/Subtraction 19.svg" />
       </app-options-card>
    </div>
   
   <div class="other">
    <app-options-card  [heading]="'Write a Letter'"> 
       <p>Give your name, mailing address, and email address</p>
        <p>Tell the business what you want</p>
       <img class="arrow-img" src="../../../assets/images/Subtraction 20.svg" alt="svg"/>        
    </app-options-card>
    </div>
    <div class="other">
    <app-options-card  [heading]="'Post an Online Review'" >
     <p>Consumer Review Fairness Act protects your ability to share your honest opinions</p>
     <img class="arrow-img" src="../../../assets/images/Subtraction 20.svg"  alt="svg"/>
    </app-options-card>
</div>
<div class="other">
    <app-options-card  [heading]="'Consumer Forums & Grievance Cells'" >
    <p>Utilize these channels to escalate your complaint within the organization</p>
    <img class="arrow-img" src="../../../assets/images/Subtraction 20.svg" alt="svg"/>
    </app-options-card> 
</div>
   </div>
   
</div>