
.options{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.options>#option-body{
    margin: 3.5rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;

}
.options>#option-header{
    font-size: 1.8rem;
    text-align: center;
    #id2{
        font-size: 2.2rem;
        font-weight: bold;
        
    }
}
.options>#option-body>#first-card{
    background-color: black !important;
    color: white;
    border-radius: 13px 0px;
    border: 0.05rem solid;
}
.other{
    margin-left: 1rem;

}
.arrow-img{
   
    position: absolute;
    top: 85%;
}